$dark-color: #1f1f1f;
$light-color: #59d412;
$gray-color: #616d72;
$magenta-color: #3b1b26;

$font-family: 'Segoe UI', Verdana, sans-serif;

$backGround-img: url('public/imgs/celphone-water.jpg') center center/cover;