$textoMenu:  #0097B2;
$bgMenu: #014A66;
$bageClaro: #CDCBBA;
$texto:   #A5E2E6;
$Banner:   #003C56;


$font-family: 'Segoe UI', Verdana, sans-serif;

$backGround-img: url('public/img/backGround.svg') center center/cover;