$textoMenu:  #0097B2;
$bgMenu: #014A66;
$bageClaro: #CDCBBA;
$texto:   #A5E2E6;
$Banner:   #003C56;
$policaoClaro:   #378887;
$policaoEscuro:   #4E645F;



$font-family: 'Segoe UI', Verdana, sans-serif;

$backGround-img: url('/img/backGround.svg') center center/cover;