@use 'mixins';
@use 'variaveis';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 1px solid red
}

// pagina Home: 
.App{
    @include mixins.box-config(100%);
    min-height: 100vh;
    background: variaveis.$backGround-img ;
}

.Menu  {
    
    
    nav {
        
        @include mixins.section(20px 0);
        
        a img {
            @include mixins.box-config(100px);
        }
        

        button{
            background-color: white;
        }

        .collapse {
            flex-grow: 0 !important;
        }

        .container-fluid {
            @include mixins.flex-center();
            justify-content: space-between;
        }
    
        .nav-link {
            @include mixins.text(1.5rem, variaveis.$textoMenu, variaveis.$font-family, 500) ;   
            
        }
    }

    @media screen and (min-width: 768px) {
        nav {
            max-width: 75vw;
        }
    }
}

.footer {
    padding: 2rem 0;
    width: 100%;
    background-color: #4f8be622;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .FooterUlIcone {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    
    .footerUlTexto {
        @media screen and (max-width: 800px){
            flex-direction: column;
        }
    }
    
    .footerLiTexto {
        display: flex;
        align-items: center;
    
        &:not(:last-child)::after {
            content: "•";
            margin: 0 0.3rem ;
            color: #fff;
        };
    
        @media screen and (max-width: 800px){
            display: flex;
            flex-direction: column;
            gap: 1rem;
        
            &:not(:last-child)::after {
                content: "";
            };
        }
    }
    
    .footerAIcones {
        font-size: 2em;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        
        &:hover {
          transform: translateY(-10px);
        } 
    }
    
    .footerATexto {
        font-size: 1.5rem;
        display: flex;
        transition: 0.4s;
        
        &:hover {
            color: #000 ;
        }
    }
    
}

.Home {

    h1 {
        @include mixins.text(2.5rem, variaveis.$texto, variaveis.$font-family, 600);
        @include mixins.section(20px 5px);
        text-align: center;

    }

    .Chamada {
        @include mixins.flex-center(column);
        @include mixins.section(100px 5px);
        text-align: center;
        
        h2{
            @include mixins.text(1.6rem, variaveis.$texto, variaveis.$font-family, 600);
        }
        
        p {
            @include mixins.text(1rem, variaveis.$texto, variaveis.$font-family, 300);
            margin: 10px 0;
        }
    }
    
    .Entendimento {
        
        @include mixins.flex-center();
        @include mixins.section(20px 0);
        color: white;
        flex-wrap: wrap;
        text-align: center;
        max-width: 1000px;
        
        .Icones{
            @include mixins.section(20px 0);
            min-width: 100px;
            max-width: 250px;
            
            .iconesSVG img {
                @include mixins.box-config(100px);
                @include mixins.section(20px 0);
            }
    
            p {
                @include mixins.text(1.2rem, variaveis.$texto, variaveis.$font-family, 300);
            }
        }

    }
}

.Info {
    
    .carousel {
        display: block;
        max-width: 100vw;
        margin: 0 auto;
        
        .carousel-inner {      

            max-width: 95vw;
            margin: 0 auto;

            img {
                @include mixins.box-config(100%);
                @include mixins.flex-center();
            }
        }
    }

    .Oceano {
        display: none;
    }
    

    .Importancia {
        display: none;
    }

    @media screen and (min-width: 700px) {
        
        .carousel {
            display: none;
        }
        
        .Oceano{
            @include mixins.section(10px 0);
            @include mixins.flex-center();
            display: block;
            background-color: variaveis.$bageClaro;
            justify-content: space-around;
            text-align: center;
            width: 100%;
    
            .ControleOceano {
                @include mixins.flex-center();
                @include mixins.section(30px 8% );
                min-width: 90%;
                gap: 20px;

                .infoOceano {
                    @include mixins.section(20px 0);
                    max-width: 500px;
                    
                    h1 {
                        @include mixins.text(4.8rem, variaveis.$Banner, variaveis.$font-family, 600);
                    }
                    
                    p {
                        @include mixins.text(1rem, variaveis.$Banner, variaveis.$font-family, 300);
                    }
                }
        
                img {
                    @include mixins.box-config(150px);
                    border-radius: 100%;
                    margin: 0 auto;
                    
                }
            }
        }

        .Importancia {
            display: block;
            position: relative;
            background: url('src/Paginas/Info/Sections/Importancia/fundoImportancia.svg') no-repeat center center/cover;
    
            h1 {
                @include mixins.text(3.8rem, white, variaveis.$font-family, 600);
                position: absolute;
                top: -45px;
                left: 50%;
            }
    
            .dadosImpo {
                @include mixins.flex-center(column);
                @include mixins.section(60px 20px);
    
                div {
                    @include mixins.flex-center();
                    gap: 30px;
                }
    
                div:nth-child(2) {
                    margin: 50px 0;
                    flex-direction: row-reverse;
                }
    
                img {
                    @include mixins.box-config(100% );
                    @include mixins.section();
                    max-width: 200px;
                }
    
                p{
                    @include mixins.section();
                    color: white;
                    max-width: 700px;
                }
            }
        }
    }
}





















